{% extends 'layouts/base.html' %} {% block content %}
<!-- [ Main Content ] start -->
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <!-- [ stiped-table ] start -->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Data Source</h5>
                  </div>
                  <div class="card-body table-border-style">
                    {% if not data_sources %}
                    <h3 class="mx-auto">No Data Sources</h3>
                    {%else%}
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data_source in data_sources %}
                          <tr>
                            <td>{{ data_source.id }}</td>
                            <td>{{ data_source.name }}</td>
                            <td>
                              <a
                                href="/data_source/edit/{{ data_source.id }}"
                                class="btn btn-warning"
                                ><span class="glyphicon glyphicon-pencil"
                                  >Edit</span
                                ></a
                              >
                            </td>
                            <td>
                              <a
                                class="btn btn-danger"
                                href="/data_source/delete/{{ data_source.id }}"
                                >Delete</a
                              >
                            </td>
                          </tr>
                          {% endfor %} {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ stiped-table ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
